.card {
  height: 12%;
  width: 100%;
  background-color: rgb(23, 30, 86);
  border-radius: 8px;
  display: flex;
  padding: 20px;
  align-items: center;
  transition-duration: 0.4s;
  text-decoration: none;
  animation-name: open;
  animation-duration: 0.3s;
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 1.12, 0.93, 1.09);
  transform-origin: center;
  overflow: hidden;
  color: aliceblue;
}

@keyframes open {
  from {
    scale: 0%;
  }
  to {
    scale: 100%;
  }
}
.card:hover {
  width: 90%;
}

a {
  color: aliceblue;
}

.fades-c {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #6f67c800, rgb(23, 30, 86));
  position: absolute;
  right: 0px;
}
