.card {
  height: 7%;
  width: 100%;
  background-color: rgb(23, 30, 86);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-bottom: 10px;
  font-size: 20px;
  transition-duration: 0.4s;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card:hover {
  background-color: rgba(23, 30, 86, 0.612);
}
