.tital {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  height: 15%;
  width: 100%;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-style: initial;
}
.c {
  margin-left: 10%;
}
.tcon {
  display: flex;
  height: 11%;
  width: 100%;
  color: white;
}

.lists-c {
  height: 95%;
  width: 100%;
  background-color: #17153b;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 5px 10px 10px #17153b96;
}
.card-c {
  height: 10%;
  width: 100%;
  background-color: #3c3490;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  color: azure;
}
.icons-c {
  height: 100%;
  width: 100%;
  z-index: 200;
  transition-duration: 0.2s;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: end;
  transform: translateX(-30px);
}
.icon-c {
  height: 40px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.2s;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(7, 50, 88); */
}
.icon-c:hover {
  transform: scale(1.2);
}
#del {
  margin-right: 20px;
}
#comp {
  margin-left: 20px;
}

.card-c {
  height: 12.6%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.popdown {
  animation: popdown 0.5s forwards ease-in-out;
}

@keyframes popdown {
  0% {
    scale: 100%;
    opacity: 100%;
  }
  50% {
    scale: 110%;
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    scale: 0%;
  }
}
