.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: initial;
}

.appcontainer {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputcontainer {
  display: flex;
  align-items: end;
  justify-content: start;
  height: 15%;
  width: 100%;
}
.input {
  display: flex;
  width: 100%;
  height: 70%;
  padding-right: 10px;
  gap: 10px;
  background-color: ;
}

input {
  padding: 20px;
  width: 100%;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: none;
  background-color: #17153b;
  border-radius: 0.4rem;

  box-shadow: 5px 10px 10px #17153b96;
}

button {
  width: 15%;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: none;
  background-color: #17153b;
  border-radius: 0.4rem;
  box-shadow: 5px 10px 10px #17153b96;
}
button:hover {
  background-color: #17153b88;
}

.click {
  animation-name: click;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.12, 0.74, 0.42, 1.32);
}

@keyframes click {
  0% {
    width: 20%;
  }
  25% {
    width: 15%;
  }

  80% {
    width: 25%;
  }

  100% {
    width: 20%;
  }
}
.lists {
  height: 95%;
  width: 100%;
  background-color: #17153b;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 5px 10px 10px #17153b96;
}
.lists::-webkit-scrollbar {
  display: none;
}

.fade {
  opacity: 0%;
  transition-duration: 1s;
}

.huh {
  padding: 20px;
  border-radius: 0.4rem;
  height: 11%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #3c3490;
  transition-duration: 0.5s;
  animation-name: up;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.03, 0.84, 0.18, 1.06);
  transition-timing-function: cubic-bezier(0.29, 1.09, 0.67, 1.24);
}
.huh:hover {
  background-color: #5c52c65a;
  /* background-color: #b1c6525a; */
  height: 12%;
  width: 90%;
}

@keyframes up {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0%);
  }
}

.animate {
  animation: slideout 0.4s cubic-bezier(0.03, 1.01, 0.46, 0.97) forwards,
    small 0.5s cubic-bezier(0.03, 1.01, 0.46, 0.97) forwards 0.3s;
}
@keyframes slideout {
  from {
    scale: 100%;
    opacity: 100%;
  }
  to {
    scale: 0%;
    opacity: 0%;
  }
}

@keyframes small {
  from {
    margin-bottom: 10px;
    padding: 10px;
    height: 11%;
  }
  to {
    height: 0%;
    margin-bottom: 0px;
    padding: 0px;
  }
}

.contextt {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.icons {
  height: 40px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.2s;

  transform-origin: center;
}
.icons:hover {
  height: 45px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.1s;
}

.iconsC {
  margin-top: 2px;
  margin-right: 2px;
  height: 40px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.2s;
  transform-origin: center;
}

.iconsC:hover {
  height: 43px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.1s;
}
