.profile_c {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.prfilepiccon {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5%;
}
.img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 100%;
}

h3 {
  margin-left: 10px;
}

.name {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateY(70px);
  color: aliceblue;
  font-size: 12px;
}

.container-g {
  height: 100%;
  width: 50%;
  display: flex;
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: end;
  right: 0px;
}

.nav {
}
.flex-c {
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
}
.l {
  color: rgb(255, 255, 255);
  font-size: 12px;
}

@media (max-width: 700px) {
  .l {
    font-size: 12px;
  }
  .container-g {
    height: 100%;
    width: 50%;
    display: flex;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
  }
  .name {
    font-size: 9px;
  }
}
