.appcontainer {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputcontainer {
  display: flex;
  align-items: end;
  justify-content: start;
  height: 10%;
  width: 100%;
}
.input {
  display: flex;
  width: 100%;
  height: 70%;
  padding-right: 10px;
  border-radius: 5px;
  gap: 10px;
}

input {
  width: 70%;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: none;
  background-color: #17153b;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
  font-size: 20px;
  padding-left: 20px;
  box-shadow: 5px 10px 10px #17153b96;
}

button {
  width: 20%;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: none;
  background-color: #17153b;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: aliceblue;
  font-size: 18px;
  box-shadow: 5px 10px 10px #17153b96;
}
.click {
  animation-name: click;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.12, 0.74, 0.42, 1.32);
}

@keyframes click {
  0% {
    width: 20%;
  }
  25% {
    width: 15%;
  }

  80% {
    width: 25%;
  }

  100% {
    width: 20%;
  }
}
.lists {
  height: 95%;
  width: 100%;
  background-color: #17153b;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari, and other WebKit browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  box-shadow: 5px 10px 10px #17153b96; /* Internet Explorer 10+ */
}
.lists::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.fade {
  opacity: 0%;
  transition-duration: 1s;
}

.huh {
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  height: 11%;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  background-color: #3c3490;
  transition-duration: 0.5s;
  animation-name: up;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.03, 0.84, 0.18, 1.06);
}
.huh:hover {
  background-color: #5b52c6a1;
}

@keyframes up {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0%);
  }
}

.animate {
  animation: slideout 0.5s cubic-bezier(0.03, 1.01, 0.46, 0.97) forwards,
    small 0.5s cubic-bezier(0.03, 1.01, 0.46, 0.97) forwards 0.3s;
}
@keyframes slideout {
  from {
    opacity: 100%;
    transform: translateX(0%);
  }
  to {
    opacity: 0%;
    transform: translateX(120%);
  }
}

@keyframes small {
  from {
    margin-bottom: 10px;
    padding: 10px;
    height: 11%;
  }
  to {
    height: 0%;
    margin-bottom: 0px;
    padding: 0px;
  }
}

.context {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.delete {
  height: 40px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.2s;
}

.delete:hover {
  height: 45px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.4s;
}
