* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: initial;
}

.appcontainer {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputcontainer {
  display: flex;
  height: 11%;
  width: 100%;
}
.input {
  display: flex;
  width: 100%;
  gap: 10px;
}

.input img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

input {
  width: 100%;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: none;
  border-radius: 0.3rem;
  /* box-shadow: 5px 10px 10px #17153b96; */
  background-color: #17153b;
  color: azure;
  font-size: 100%;
}
.in {
  height: 100%;
}

button {
  width: 20%;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: none;
  border-radius: 0.3rem;
  /* box-shadow: 5px 10px 10px #17153b96; */
  background-color: #17153b;
  color: aliceblue;
  font-size: 12px;
}
button:hover {
  background-color: #17153b88;
}
.click {
  animation-name: click;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.12, 0.74, 0.42, 1.32);
}

@keyframes click {
  0% {
    width: 20%;
  }
  25% {
    width: 15%;
  }

  80% {
    width: 25%;
  }

  100% {
    width: 20%;
  }
}
.lists {
  height: 95%;
  width: 100%;
  background-color: #17153b;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  padding: 23px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 5px 10px 10px #17153b96;
}
.lists::-webkit-scrollbar {
  display: none;
}

.fade {
  opacity: 0%;
  transition-duration: 1s;
  background-color: aqua;
}

.huh {
  border-radius: 0.4rem;
  height: 12%;
  width: 100%;
  background-color: #3c3490;
  display: flex;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  animation-name: up;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.03, 0.84, 0.18, 1.06);
  transition-timing-function: cubic-bezier(0.29, 1.09, 0.67, 1.24);
}
.huh:hover {
  background-color: #3c3490;
  height: 13%;
  width: 95%;
}
/* .huh:hover .fades {
  background: linear-gradient(to right, #6f67c800, red);
} */
.huh:hover .icon {
  opacity: 100%;
}

@keyframes up {
  from {
    opacity: 0%;
    transform: translateY(100vh);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.animate {
  animation: slideout 0.4s cubic-bezier(0.03, 1.01, 0.46, 0.97) forwards,
    small 0.5s cubic-bezier(0.03, 1.01, 0.46, 0.97) forwards 0.3s;
}
@keyframes slideout {
  from {
    scale: 100%;
    opacity: 100%;
  }
  to {
    scale: 0%;
    opacity: 0%;
  }
}

@keyframes small {
  from {
    margin-bottom: 10px;
    padding: 10px;
    height: 11%;
  }
  to {
    height: 0%;
    margin-bottom: 0px;
    padding: 0px;
  }
}

.contexts {
  height: 100%;
  width: 80%;
  position: relative;
}

.contextt {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  color: azure;
  font-size: 15px;
}
.fades {
  height: 100%;
  width: 30%;
  background: linear-gradient(to right, #6f67c800, #3c3490);
  position: absolute;
  right: 0px;
}

.icons {
  height: 100%;
  width: 20%;
  z-index: 200;
  transition-duration: 0.2s;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 45px;
  width: 50px;
  z-index: 200;
  transition-duration: 0.2s;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-delay: 0.3s;
}
.icon:hover {
  height: 50px;
  width: 50px;
  z-index: 200;
  transition-duration: 0.1s;
}

.iconsC:hover {
  height: 43px;
  width: 40px;
  z-index: 200;
  transition-duration: 0.1s;
}

/* @media (max-width: 700px) {
  .lists {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 8px;
    background-color: #17153b00;
    padding: 3px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition-duration: 0.4s;
    box-shadow: 5px 10px 10px #17153b00;
  }
  .inputcontainer {
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
  }
} */
