* {
  box-sizing: border-box;
  margin: 0px;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #2e236c;
  overflow: hidden;
}
.nav {
  width: 30%;
  height: 100vh;
  background-color: #2e236c;
}

.main {
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: end;
  /* overflow-y: scroll;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;  */
}

.main > * {
  scroll-snap-align: start; /* Snap each child to the start */
}

.info {
  width: 30%;
  height: auto;
  display: flex;

  align-items: end;
  padding: 20px;
  position: relative;
}

@media (max-width: 1080px) {
  .info {
    display: none;
  }

  .nav {
    display: none;
  }
  .main {
    width: 100%;
    height: auto;
    background-color: #2e236c;
  }
}
